.wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.formal h1 {
    font-family: 'Poiret One', cursive;
    font-size: 55px;
}

.formal h2 {
    font-family: 'Poiret One', cursive;
    color: #800000;
}

.formal p {

    font-family: 'Quattrocento', serif;
    font-size: 20px;
    text-indent: 35px;
}

.hero {
    height: 400px;
    background: #800000;
    background-image: url('../images/Formal.gif');
    background-size: cover;
    flex: auto;
}

.piclink {
    background: blue;
    height: 200px;
    
    flex: 1;
    margin: 5px 0;
    margin-right: 5px;
}

.piclink:last-child {
    margin-right: 0;
}

.section2 {
    display: flex;
    
}

.link1 {
    background-image: url('../images/creative.jfif');
    background-position: 55% 12%;
    
    
}

.link2 {
    background-image: url('../images/corporate.jfif');
    background-position: 45% 70%;
}

.link3 {
    background-image: url('../images/Mysterious.jfif');
    background-position: 35% 80%;
}


.link1:hover {
    background:  
    linear-gradient(
        rgba(13, 47, 241, 0.438), 
        rgba(255, 0, 0, 0.438)
      ),
        url('../images/creative.jfif');


    background-position: 50% 12%;
}

.link2:hover {
    background:  
    linear-gradient(
        rgba(202, 40, 53, 0.438), 
        rgba(0, 140, 255, 0.438)
      ),
        url('../images/corporate.jfif');


    background-position: 50% 12%;
}

.link3:hover {
    background:  
    linear-gradient(
        rgba(80, 2, 126, 0.438), 
        rgba(80, 0, 0, 0.438)
      ),
        url('../images/Mysterious.jfif');


    background-position: 40% 60%;
}
