.wrapper {
    margin: 0 auto;
    max-width: 800px;
}

.formal h1 {
    font-family: 'Poiret One', cursive;
    font-size: 55px;
}

.formal h2 {
    font-family: 'Poiret One', cursive;
    color: #800000;
}

.formal p {

    font-family: 'Quattrocento', serif;
    font-size: 20px;
    text-indent: 35px;
}

.hero {
    height: 400px;
    background: #800000;
    background-image: url('../images/Formal.gif');
    background-size: cover;
}

.piclink {
    background: blue;
    height: 200px;
    flex: 1;
    margin: 5px 0;
    margin-right: 5px;
}

.piclink:last-child {
    margin-right: 0;
}

.section2 {
    display: flex;
    
}

