/* add new page styles below */


.play-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%; 
    background-image: url(../pages/jessy/Backgrounds/dark-triangles.png);
}

.play-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; 
    background: rgb(131, 13, 13);
    line-height: 5px;
}

.play-logo {
    padding:0px;
    float:left;
    margin-left: 30px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: underline rgb(255, 255, 255);
    letter-spacing: 1px;
    font-weight: light;

    border: 4px solid rgb(255, 255, 255);
    border-top-right-radius: 10px;   
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.play-main {
    position: fixed;
    top: 100px;
    left: 0; 
    right: 0;
    bottom: 0;
    overflow: auto;     
}

.play-text-wrapper {
    text-align: center; 
}

.play-text {
    display: inline-block;
    max-width: 700px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border: 5px solid rgb(255, 255, 255);
    border-top-right-radius: 30px;   
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    padding-right: 20px;
    padding-left: 20px;
}

.play-text p{
    font-family: 'Kalam', cursive;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
}

.play-text h1{
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 50, 50);
    font-size: 35px;
    text-decoration: underline white;
    letter-spacing: 1px;
    font-weight: lighter;
}

.play-innertube {
    margin: 15px; /* Provides padding for the content */
}


/* Menu */
.play-nav { 
    margin:0 auto; 
    padding:0; 
    float:right;
}
.play-nav ul { 
    list-style:none; 
    padding:0; 
    float:left;
}
.play-nav ul li { 
    margin:0; 
    padding:0 0 0 8px; 
    float:left;
}
.play-nav ul li a { 
    display:block; 
    margin:0 auto; 
    padding:8px 20px; 
    color:rgb(255, 255, 255); 
    text-decoration: underline white;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: lighter;

}

        
/*IE6 fix*/
* html body{
    padding: 100px 0 0 0; /* Set the first value to the height of the header */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}


/* add new page styles below */
/* insert new pages styles below */


.fun-body {
    margin: 0;
    padding: 0;
    
    height: 100%; 
    max-height: 100%; 
    font-family:Sans-serif;
    /* line-height: 1.5em; */
    background-image: url(../pages/jessy/Backgrounds/memphis-colorful.png);
    
}

.fun-header {
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100px; 
    border-top: 5px solid rgba(88, 22, 133, 0.671);
    border-bottom: 5px solid rgba(88, 22, 133, 0.671);
    box-sizing: border-box;
}

.fun-logo {
    /* padding:10px; */
    line-height: 10px;
    float:left;
    font-family: 'Bungee Shade', cursive;
    font-size: 28px;
    margin-bottom: 10px;
    margin-left: 50px;
    color: #4a758d;
}

.fun-main {
    position: fixed;
    top: 100px; /* Set this to the height of the header */
    left: 0; 
    right: 0;
    bottom: 0;
    overflow: auto; 
    /* background: #fff; */
}

.fun-innertube {
    margin: 15px; /* Provides padding for the content */
}

.fun-wrapper {
    height: 10em;
    position: relative 
}
 .fun-info-container {
    margin: 0;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-right: -50%;
    max-width: 800px;
    text-align: center;
    transform: translate(-50%, -50%) 
}

.fun-info-container h1 {
    color: #ce5353;
    font-size: 22px;
    font-family: 'Bungee Shade', cursive;
}

.fun-info-container p {
    color: #269b0e;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 25px;
}

.fun-footer {
    border-top: 5px solid rgba(88, 22, 133, 0.671);
    /* border-bottom: 5px solid rgba(135, 44, 196, 0.671); */
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

/* Menu */
.fun-nav { 
    margin:0 auto; 
    padding:0; 
    float:right;
}
.fun-nav ul { 
    list-style:none; 
    padding:0; 
    float:left;
}
.fun-nav ul li { 
    margin:0; 
    padding:0 0 0 8px; 
    float:left;
}
.fun-nav ul li a { 
    display:block; 
    margin:0 auto; 
    padding:8px 20px; 
    color:#ce5353; 
    text-decoration:none;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    
}
        
/*IE6 fix*/
* html .fun-body{
    padding: 100px 0 0 0; /* Set the first value to the height of the header */
}

* html .fun-main{ 
    height: 100%; 
    width: 100%; 
}

/* Insert new page styles below */
/* add new page styles below */


.prestige-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%;  
    background-image: url(../pages/jessy/Backgrounds/triangular/triangular.png);
    background: gradient
}


.prestige-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; 
    background: rgb(131, 13, 13); */
    line-height: 5px;

    height:100px;
	/* border:1px solid black;
    padding:10px; */
    
    background-image: url(../pages/jessy/Backgrounds/footer_lodyas/footer_lodyas.png) ;
	
}

.prestige-logo {
    padding:0px;
    float:left;
    margin-left: 30px;
    font-family: 'Playfair Display SC', serif;
    color: rgb(160, 138, 82);
    font-size: 30px;
    text-decoration: underline rgb(160, 138, 82);
    letter-spacing: 1px;
    /* font-weight: light; */

    /* border: 4px solid goldenrod;
    border-top-right-radius: 10px;   
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */

}


.prestige-main {
    position: fixed;
    top: 100px;
    left: 0; 
    right: 0;
    bottom: 0;
    overflow: auto;     
}

.prestige-text-wrapper {
    text-align: center; 
}

.prestige-text {
    display: inline-block;
    max-width: 700px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    border: 5px solid rgb(0, 0, 0);
    border-top-right-radius: 30px;   
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; 
    padding-right: 20px;
    padding-left: 20px;
}

.prestige-text p{
    font-family: 'Orbitron', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bold;
}

.prestige-text h1{
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Playfair Display SC', serif;
    color: black;
    font-size: 35px;
    /* text-decoration: underline rgb(167, 132, 44); */
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 7px solid rgb(167, 132, 44);
}

.prestige-innertube {
    margin: 15px; /* Provides padding for the content */
}


/* Menu */
.prestige-nav { 
    margin:0 auto; 
    padding:0; 
    float:right;
}
.prestige-nav ul { 
    list-style:none; 
    padding:0; 
    float:left;
}
.prestige-nav ul li { 
    margin:0; 
    padding:0 0 0 8px; 
    float:left;
}
.prestige-nav ul li a { 
    display:block; 
    margin:0 auto; 
    padding:8px 20px; 
    color:silver; 
    text-decoration: underline goldenrod;
    font-family: 'Playfair Display SC', serif;
    font-size: 22px;
    letter-spacing: 3px;
    /* font-weight: lighter; */

}

        
/*IE6 fix*/
* html body{
    padding: 100px 0 0 0; /* Set the first value to the height of the header */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}


/* add new page styles below */
/* add new page styles below */


.trustworthy-body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%; 
    max-height: 100%;  
    background-image: url(../pages/jessy/Backgrounds/hardwood.jpeg);
    
}


.trustworthy-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100px; 
    background: rgb(131, 13, 13); */
    line-height: 5px;

    height:100px;
	/* border:1px solid black;
    padding:10px; */
    
    background: #4B3024;
	
}

.trustworthy-logo {
    padding:0px;
    float:left;
    margin-left: 30px;
    font-family: 'Philosopher', sans-serif;
    color: #a38163;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 1px;
    /* font-weight: light; */

    border: 4px solid #a38163;
    border-top-right-radius: 10px;   
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}


.trustworthy-main {
    position: fixed;
    top: 100px;
    left: 0; 
    right: 0;
    bottom: 0;
    overflow: auto;     
}

.trustworthy-text-wrapper {
    text-align: center; 
}

.trustworthy-text {
    display: inline-block;
    max-width: 700px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    /* border: 5px solid rgb(0, 0, 0);
    border-top-right-radius: 30px;   
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;  */
    padding-right: 20px;
    padding-left: 20px;
}

.trustworthy-text p{
    font-family: 'Alice', serif;
    color: rgb(179, 144, 122);
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: bold;
}

.trustworthy-text h1{
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Philosopher', sans-serif;
    color: rgb(184, 140, 121);
    font-size: 35px;
    /* text-decoration: underline rgb(167, 132, 44); */
    letter-spacing: 1px;
    font-weight: bold;
    border-bottom: 7px solid rgb(179, 144, 122);
}

.trustworthy-innertube {
    margin: 15px; /* Provides padding for the content */
}


/* Menu */
.trustworthy-nav { 
    margin:0 auto; 
    padding:0; 
    float:right;
}
.trustworthy-nav ul { 
    list-style:none; 
    padding:0; 
    float:left;
}
.trustworthy-nav ul li { 
    margin:0; 
    padding:0 0 0 8px; 
    float:left;
}
.trustworthy-nav ul li a { 
    display:block; 
    margin:0 auto; 
    padding:8px 20px; 
    color:rgb(184, 140, 121); 
    text-decoration: underline rgb(184, 140, 121);
    font-family: 'Philosopher', sans-serif;
    font-size: 22px;
    letter-spacing: 3px;
    /* font-weight: lighter; */
    /* background: rgb(92, 97, 114);

    border: 5px solid rgba(0, 0, 0, 0);
    border-top-right-radius: 15px;   
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;  */

}



        
/*IE6 fix*/
* html body{
    padding: 100px 0 0 0; /* Set the first value to the height of the header */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}


/* add new page styles below */